@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#f9f9f9] text-gray-600 tracking-wide font-mono
  }
  h1 {
    @apply font-bold text-6xl
  }
  h2 {
    @apply text-3xl sm:text-4xl
  }
  h3 {
    @apply text-2xl md:text-xl
  }
  li {
    @apply cursor-pointer
  }
  section {
    @apply w-full p-2 flex items-center relative py-[2rem] px-[20%] 
  }
  article {
    @apply max-w-[1240px] m-auto md:grid grid-cols-3 gap-8
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[blue] to-[red] text-[#353239]
  }
  ._text-contrast {
    @apply text-red-600;
  }
  ._bg-contrast {
    @apply bg-red-600;
  }
  ._bg-skew {
    @apply bg-slate-700 text-[#fff] py-[10rem] px-[20%] 
  }
  ._bg-white {
    @apply bg-[white] 
  }
  ._bg-dark {
    @apply bg-slate-700 text-[#fff] 
  }
  ._bg-black {
    @apply bg-slate-800 text-[#fff] 
  }
 
}
@layer utilities {
  ._bg-skew {    
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);  
  }
  ._link {
    @apply hover:scale-110 ease-in duration-100 cursor-pointer
  }
  ._round-icon {
    @apply rounded-full shadow-lg shadow-gray-400
  }
  ._image {
    @apply rounded-xl shadow-lg shadow-black
  }  
  ._animation-fill-backwards {
    animation-fill-mode: backwards;
  }
  ._animation-delay-0 {
    animation-delay: 0s;
  }
  ._animation-delay-1 {
    animation-delay: 0.1s;
  }
  ._animation-delay-2 {
    animation-delay: 0.2s;
  }
  ._animation-delay-3 {
    animation-delay: 0.3s;
  }
  ._animation-delay-4 {
    animation-delay: 0.4s;
  }
  ._animation-delay-5 {
    animation-delay: 0.5s;
  }  
}