@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#f9f9f9] text-gray-600 tracking-wide font-mono text-lg
  }
  
  h1 {
    @apply font-bold text-6xl
  }
  h2 {
    @apply text-3xl sm:text-4xl  py-12
  }
  h3 {
    @apply text-2xl md:text-xl py-8
  }
  h4 {
    @apply text-2xl md:text-xl font-bold inline-block pr-6
  }
  li {
    @apply cursor-pointer
  }
  section {
    @apply w-full flex items-center relative py-[2rem] px-4 lg:px-[20%] 
  }
  article {
    @apply max-w-[1240px] m-auto py-40 
  }
  button {
    @apply border-2 border-red-600 text-red-600 px-4 py-2 rounded-xl hover:bg-slate-50
  }
  
  
  ._bg-skew, ._bg-skew-rv {
    @apply py-[10rem]
  }
  ._bg-white {
    @apply bg-[white] text-gray-600
  }
  ._bg-cream {
    @apply bg-[#f9f9f9] text-gray-600
  }
  ._bg-dark {
    @apply bg-slate-700 text-[#fff] 
  }
  ._bg-black {
    @apply bg-slate-800 text-[#fff] 
  }
  ._text-contrast {
    @apply text-red-600;
  }
  ._bg-contrast {
    @apply bg-red-600;
  }
 
}
@layer utilities {
  @screen xl{
    ._bg-skew {    
      clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);  
    }
  }
  @screen xl{
    ._bg-skew-rv {    
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);  
    }
  }
  ._card {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }
  ._dark-triangle-for-white-body:before {
    content: "";
    width: 1000px;
    background-color: blue;
    left: -100px;
    position: absolute;
    top: -1000px;
    -webkit-transform: rotate(-100deg);
    height: 1000px;
  }


  ._link {
    @apply hover:scale-110 ease-in duration-100 cursor-pointer
  }
  ._round-icon {
    @apply rounded-full shadow-lg shadow-gray-400
  }
  ._image {
    @apply rounded-xl shadow-lg shadow-black
  }  
  ._animation-fill-backwards {
    animation-fill-mode: backwards;
  }
  ._animation-delay-0 {
    animation-delay: 0s;
  }
  ._animation-delay-1 {
    animation-delay: 0.1s;
  }
  ._animation-delay-2 {
    animation-delay: 0.2s;
  }
  ._animation-delay-3 {
    animation-delay: 0.3s;
  }
  ._animation-delay-4 {
    animation-delay: 0.4s;
  }
  ._animation-delay-5 {
    animation-delay: 0.5s;
  }  
  ._animation-delay-6 {
    animation-delay: 0.6s;
  }  
  ._animation-delay-7 {
    animation-delay: 0.7s;
  }  
}